
<canvas id="pyramid{{ .Get "id" }}" width="330" height="220"></canvas>

<script>


        var draw = {{ .Get "number" }};


        var rc = rough.canvas(document.getElementById('pyramid{{ .Get "id" }}'));
        
        rc.rectangle(70, 85, 100, 40, {
          fill: 'blue',
          hachureAngle: 60,
          hachureGap: 5,
          fillWeight: 1,
          strokeWidth: 1,
          roughness: 1.8
        });;
          if(draw>=2){
        rc.rectangle(40, 150, 150, 40, {
          fill: 'blue',
          hachureAngle: 60,
          hachureGap: 5,
          fillWeight: 1,
          strokeWidth: 1,
          roughness: 1.8
        });
        }
        if(draw==3){
              rc.rectangle(100, 20, 50, 40, {
              fill: 'blue',
              hachureAngle: 60,
              hachureGap: 5,
              fillWeight: 1,
              strokeWidth: 1,
              roughness: 1.8
            });
          };
</script>
