
<canvas id="switchboard{{ .Get "id" }}" width="330" height="200"></canvas>

<script>


  var rc = rough.canvas(document.getElementById('switchboard{{ .Get "id" }}'));

  rc.rectangle(75, 75, 75, 75, {
      fill: 'blue',
      hachureAngle: 60,
      hachureGap: 5,
      fillWeight: 1,
      strokeWidth: 1,
      roughness: 1.8
    });

    rc.circle(30, 30, 20, {
      fill: 'blue',
      hachureAngle: 60,
      hachureGap: 5,
      fillWeight: 1,
      strokeWidth: 1,
      roughness: 1.8
    });


    rc.circle(30, 80, 20, {
      fill: 'blue',
      hachureAngle: 60,
      hachureGap: 5,
      fillWeight: 1,
      strokeWidth: 1,
      roughness: 1.8
    });


    rc.circle(30, 130, 20, {
      fill: 'blue',
      hachureAngle: 60,
      hachureGap: 5,
      fillWeight: 1,
      strokeWidth: 1,
      roughness: 1.8
    });

    

    rc.circle(30, 180, 20, {
      fill: 'blue',
      hachureAngle: 60,
      hachureGap: 5,
      fillWeight: 1,
      strokeWidth: 1,
      roughness: 1.8
    });

    rc.circle(185, 30, 20, {
      fill: 'blue',
      hachureAngle: 60,
      hachureGap: 5,
      fillWeight: 1,
      strokeWidth: 1,
      roughness: 1.8
    });

    rc.circle(185, 80, 20, {
      fill: 'blue',
      hachureAngle: 60,
      hachureGap: 5,
      fillWeight: 1,
      strokeWidth: 1,
      roughness: 1.8
    });


    rc.circle(185, 130, 20, {
      fill: 'blue',
      hachureAngle: 60,
      hachureGap: 5,
      fillWeight: 1,
      strokeWidth: 1,
      roughness: 1.8
    });

    rc.circle(185, 180, 20, {
      fill: 'blue',
      hachureAngle: 60,
      hachureGap: 5,
      fillWeight: 1,
      strokeWidth: 1,
      roughness: 1.8
    });

    rc.line(150, 148, 185, 175,{
      strokeWidth: 1.5,
      roughness: 1.8
    });

    rc.line(150, 130, 175, 135,{
      strokeWidth: 1.5,
      roughness: 1.8
    });

    rc.line(155, 80, 170, 80,{
      strokeWidth: 1.5,
      roughness: 1.8
    });

    rc.line(145, 70, 170, 30,{
      strokeWidth: 1.5,
      roughness: 1.8
    });

    rc.line(75, 70, 40, 30,{
      strokeWidth: 1.5,
      roughness: 1.8
    });
    
    rc.line(70, 80, 40, 80,{
      strokeWidth: 1.5,
      roughness: 1.8
    });

    rc.line(70, 125, 40, 130,{
      strokeWidth: 1.5,
      roughness: 1.8
    });

    rc.line(70, 140, 40, 170,{
      strokeWidth: 1.5,
      roughness: 1.8
    });




</script>
